<!DO<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Content/logincss")
    <link href="/Content/common/css/xcConfirm.css" rel="stylesheet" />
    <link href="/Content/css/login.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
</head>
<body>


    @RenderBody()
    <script src="~/Content/common/js/jquery-1.7.1.min.js"></script>
    <script src="~/Content/common/js/jquery.cookie.js"></script>
    <script src="~/Content/common/js/xcConfirm.js"></script>
    <script src="~/Content/js/LoginScript.js"></script>


</body>
</html>
